### HOME example

In [1]:
print("Hello, World!")

Hello, World!

### Get Started example

In [2]:
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

### Syntax example

In [8]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [9]:
#Syntax Error:

if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 3 (3793498032.py, line 4)

In [10]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [11]:
#Syntax Error:
if 5 > 2:
    print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (1180301832.py, line 4)

In [14]:
#Python Variables
x = 5
y = "Hello, World!"
print(x)
print(y)

5
Hello, World!

### Comments example

In [16]:
print("Hello, World!") #This is a comment

Hello, World!

In [18]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [19]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

# Variables example

In [22]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [20]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [21]:
#data type by casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [23]:
a = 4
A = "Sally"
#A will not overwrite a

### Variable Names

In [24]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [25]:
#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (3397427147.py, line 2)

### Many Values to Multiple Variables

In [26]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [27]:
#One Value to Multiple Variablese
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [28]:
#Unpack a list:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

### Output Variables

In [29]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [30]:
#Notice the space character after "Python " and "is "
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [31]:
x = 5
y = 10
print(x + y)

15

In [32]:
#error:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
x = 5
y = "John"
print(x, y)

5 John

### Global Variables - variables that are created outside of a function.

In [34]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [36]:
x = "awesome"   #global var

def myfunc():
    x = "fantastic"   #local var
    print("Python is " + x)  ##for local var

myfunc()

print("Python is " + x)  #for global var

Python is fantastic
Python is awesome

In [37]:
#by global keyword
def myfunc():
    global x
    x = "fantastic"
    
myfunc()

print("Python is " + x)

Python is fantastic

In [39]:
#to change the value of a global variable 

x = "awesome"
def myfunc():
    global x
    x = "fantastic"
    
myfunc()

print("Python is " + x)

Python is fantastic

# Data Types examples

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

In [41]:
x = 20.5
print(type(x))

<class 'float'>

In [42]:
x = 1j
print(type(x))

<class 'complex'>

In [43]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [44]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [45]:
x = range(6)
print(type(x))

<class 'range'>

In [46]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [47]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [48]:
x = True
print(type(x))

<class 'bool'>

In [49]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [51]:
#Setting the Specific Data Type

x = list(("apple", "banana", "cherry"))
print(x)

['apple', 'banana', 'cherry']

In [52]:
x = bool(5)
print(x)

True

# Python Numbers examples

There are three numeric types in Python:

int,
float,
complex.

In [54]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [55]:
#integer, is a whole number, positive or negative, without decimals, of unlimited length.

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [56]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [59]:
#"e" indicate the power of 10.

x = 35e3
y = 12e4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [60]:
#Complex: 
#written with a "j" as the imaginary part (мнимой части).
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [64]:
#Convert from one type to another: 
#Note: You cannot convert complex numbers into another number type.

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [66]:
#Random Number

import random
print(random.randrange(1, 10))

6

# Python Casting

In [67]:
#Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [68]:
#Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [ ]:
#Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

# Python Strings examples

In [69]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [70]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [72]:
#Strings are Arrays
a = "Hello, World!"
print(a[0])

H

In [75]:
#Looping Through a String
for x in "banana":
    print(x)

b
a
n
a
n
a

In [76]:
#length of a string:

a = "Hello, World!"
print(len(a))

13

In [80]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [81]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [82]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

### Slicing Strings

In [85]:
#from position 2 to position 5 (not included), Note: The first character has index 0.
b = "Hello, World!"
print(b[2:5])

llo

In [86]:
b = "Hello, World!"
print(b[:5])

Hello

In [87]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [88]:
#From: "o" in "World!" (position -5)
#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

### Modify Strings

In [89]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [90]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [92]:
#strip() method removes any whitespace

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [93]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [94]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

### String Concatenation

In [95]:
#Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [96]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

### Format - Strings

In [98]:
#Error
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [99]:
#Create an f-string:

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [100]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [101]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [102]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

###  Escape Characters

In [103]:
#error
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (3311210617.py, line 2)

In [106]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Code	Result
\'	 Single Quote	
\\	 Backslash	
\n	 New Line	
\r	 Carriage Return	
\t	 Tab	
\b	 Backspace	
\f	 Form Feed	
\ooo	Octal value	
\xhh	Hex value

### String Methods

In [107]:
#Note: All string methods return new values. They do not change the original string.